<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664224390267-sennbr5tkv2o1uj613tfe8nir4c67in4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664224390267-sennbr5tkv2o1uj613tfe8nir4c67in4</string>
	<key>API_KEY</key>
	<string>AIzaSyDhoT4h5Spi2AzsxBsL17S-tnx8U7EZIYM</string>
	<key>GCM_SENDER_ID</key>
	<string>664224390267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newss</string>
	<key>PROJECT_ID</key>
	<string>news-f660a</string>
	<key>STORAGE_BUCKET</key>
	<string>news-f660a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664224390267:ios:0413efd0d7fa0c1f5bd6de</string>
	<key>DATABASE_URL</key>
	<string>https://news-f660a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>